In [3]:
# Initialize a dictionary "emp_info" with below details
# In - emp_info['Tom']
# Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}

# In - emp_info['Kathy']
# Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}

emp_info = {
    'Tom' : {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'},
    'Kathy' : {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}
}
print(emp_info['Tom'])
print(emp_info['Kathy'])

{'email': 'tom_latham019@gmail.com', 'Phone': 1987654321, 'City': 'California'}
{'email': 'kathy_abram897@gmail.com', 'Phone': 1887654321, 'City': 'New York'}

In [5]:
# Create a dictionary out of below inputs
# lst1 = ['emp1', 'emp2', 'emp3']
# emp_key = ['e_name', 'e_id', 'e_sal']
# emp1_val = ['John', 'SG101', '$10,000']
# emp2_val = ['Smith', 'SG102', '$9,000']
# emp3_val = ['Peter', 'SG103', '$9,500']

# Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
#                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}

lst1 = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500']

emp_dict1 = dict(zip(emp_key,emp1_val))
emp_dict2 = dict(zip(emp_key,emp2_val))
emp_dict3 = dict(zip(emp_key,emp3_val))

output = dict(zip(lst1,[emp_dict1, emp_dict2, emp_dict3]))

output

{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'},
 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'},
 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [6]:
# Acess the value of key 'history'

sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

sampleDict["class"]["student"]["marks"]["history"]

80

In [15]:
# Initialize dictionary with default values. Inputs are:-
# employees = ['Kelly', 'Emma', 'John']
# defaults = {"designation": 'Application Developer', "salary": 8000}

#Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'Emma': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'John': {'designation': 'Application Developer', 'salary': 8000}}

employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

output = {emp: defaults for emp in employees}
output

{'Kelly': {'designation': 'Application Developer', 'salary': 8000},
 'Emma': {'designation': 'Application Developer', 'salary': 8000},
 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [32]:
# In gene expression, mRNA is transcribed from a DNA template. 
# The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
# Write a function that returns the mRNA transcript given the sequence of a DNA strand.

# Use a dictionary to provide the mapping of DNA to RNA bases.
dna_sequence = 'AGCT'
dna_to_rna_mapping = {'A': 'U', 'T': 'A', 'C': 'G', 'G': 'C'}
mRNA_sequence = [dna_to_rna_mapping[base] for base in dna_sequence]
print("".join(mRNA_sequence))

# def transcribe_to_mRNA(dna_sequence):
#     dna_to_rna_mapping = {'A':'U','T':'A','C':'G','G':'C'}
#     mRNA_sequence = [dna_to_rna_mapping[base] for base in dna_sequence]
#     return "".join(mRNA_sequence)

# transcribe_to_mRNA('AGCT')

UCGA

0

In [36]:
# Write a function which takes a word as input and returns a dictionary with letters as key and no of time letters are repeated as value.
# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

def count_letter(word):
    count = {}
    for letter in word:
        count[letter] = count.get(letter,0)+1
    return count

word = str(input("Please Enter the word : "))
count_letter(word)

Please Enter the word : wood chuck wood chuck

{'w': 2, 'o': 4, 'd': 2, ' ': 3, 'c': 4, 'h': 2, 'u': 2, 'k': 2}

In [38]:
# A DNA strand consisting of the 4 nucleotide bases is usually represented with a string of letters: A,T, C, G. 
# Write a function that computes the base composition of a given DNA sequence.

# In - baseComposition("CTATCGGCACCCTTTCAGCA")
# Out - {'A': 4, 'C': 8, 'T': 5,  'G': 3 }
    
# In - baseComposition("AGT")
# Out - {'A': 1, 'C': 0, 'T': 1,  'G': 1 }

def dna_composition(dna_sequence):
    count = {'A':0,'C':0,'T':0,'G':0}
    for i in dna_sequence:
        count[i] = count.get(i,0)+1
    return count

dna_sequence = str(input("Please enter the base composition using letters - A,T,C,G : "))
dna_composition(dna_sequence)

Please enter the base composition using letters - A,T,C,G : CTATCGGCACCCTTTCAGCA

{'A': 4, 'C': 8, 'T': 5, 'G': 3}

In [45]:
# [MCQ] Suppose "d" is an empty dictionary, which statement does not assign "d" with {"Name":"Tom"}? 
# 1. d = {"Name": "Tom" }
# 2. d["Name"] = "Tom"
# 3. d.update({"Name": "Tom" })
# 4. d.setdefault("Name", "Tom")
# 5. None of the above.

d = {}
d = {"Name1": "Tom" }
d["Name2"] = "Tom"
d.update({"Name3": "Tom" })
d.setdefault("Name4", "Tom")
d

# Ans: 5. None of the above

{'Name1': 'Tom', 'Name2': 'Tom', 'Name3': 'Tom', 'Name4': 'Tom'}

In [46]:
# [MCQ] d = {"a":1, "b":2}. Which of the statements returns [1,2]? 
# 1. d.keys()
# 2. d.values()
# 3. d.items()
# 4. d.popitem()
# 5. None of the above.

d = {"a":1, "b":2}
d.values()

# Ans: 2. d.values()

dict_values([1, 2])

In [50]:
# [MCQ] Which of the following declarations is not valid for 'dict' type?
# 1. d = {"Name": "Tom" }
# 2. d = { (1,3,4): 4.5 }
# 3. d = { ["First", "Last"]: (1,3) }
# 4. d = { 1: 0.4 }
# 5. None of the above

d1 = {"Name": "Tom" }
d2 = { (1,3,4): 4.5 }
d3 = {}
# d3 = { ["First", "Last"]: (1,3) }
d4 = { 1: 0.4 }

print(f"{d1}\n{d2}\n{d3}\n{d4}")

# Ans: 3. d = { ["First", "Last"]: (1,3) }

{'Name': 'Tom'}
{(1, 3, 4): 4.5}
{}
{1: 0.4}

In [62]:
# Write a function reverseLookup(dictionary, value) that takes in a dictionary 
# and a value as arguments and returns a sorted list of all keys that contains the value. 
# The function will return an empty list if no match is found.

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)
# Out - ['a']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)
# Out - ['b', 'c']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)
# Out - []

def reverselookup(dictionary,value):
    keys = [key for key,val in dictionary.items() if val == value]
    return sorted(keys)

dt = {'a':1, 'b':2, 'c':2}
search_value = 2
reverselookup(dt,search_value)

# dt = {'a':1, 'b':2, 'c':2}
# val = 2
# result = [key for key,value in dt.items() if value == val]
# sorted(result)

['b', 'c']

In [79]:
# Write a function invertDictionary(d) that takes in a dictionary as argument and return a dictionary that inverts the keys and the values of the original dictionary.
# In - invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})
# Out - {1: ['a'], 2: ['b', 'd'], 3: ['c']}
# In - invertDictionary({'a':3, 'b':3, 'c':3})
# Out - {3: ['a', 'c', 'b']}
# In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
# Out - {1: ['b', 'd'], 2: ['a', 'c']}

def invertDictionary(dictionary):
    output = {}
    for key,value in dictionary.items():
        output.setdefault(value,[]).append(key)
    return output

# dt = {'a':1, 'b':2, 'c':2}
print(invertDictionary({'a':1, 'b':2, 'c':3, 'd':2}))
print(invertDictionary({'a':3, 'b':3, 'c':3}))
print(invertDictionary({'a':2, 'b':1, 'c':2, 'd':1}))

{1: ['a'], 2: ['b', 'd'], 3: ['c']}
{3: ['a', 'b', 'c']}
{2: ['a', 'c'], 1: ['b', 'd']}

In [95]:
# Write a function that converts a sparse vector into a dictionary as described above.
# In - convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])
# Out - {0: 1, 3: 2, 7: 3, 12: 4}
# In - convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])
# Out - {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
# In - convertVector([0, 0, 0, 0, 0])
# Out - {}

def convertVector(vector):
    output = {}
    for index,value in enumerate(vector):
        if value != 0:
            output[index] = value
        else:
            pass
    return output

print(convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]))
print(convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0]))
print(convertVector([0, 0, 0, 0, 0]))

{0: 1, 3: 2, 7: 3, 12: 4}
{0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
{}

In [106]:
# Write a function that converts a dictionary back to its sparse vector representation.
# In - convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})
# Out - [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
# In - convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})
# Out - [1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
# In - convertDictionary({})
# Out - []

def convertDictionary(dt):
    max_index = max(dt.keys(),default=-1)+1
    output = [0]*max_index
    for key,value in dt.items():
        output[key] = value
    return output

print(convertDictionary({0: 1, 3: 2, 7: 3, 12: 4}))
print(convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1}))
print(convertDictionary({}))

[1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
[1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
[]

In [108]:
# Given a Python dictionary, Change Brad’s salary to 8500
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 6500}
# }

# Expected Output
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 8500}
# }

sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

sampleDict.update({'emp3': {'name': 'Brad', 'salary': 8500}})
sampleDict

sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}
sampleDict['emp3']['salary']=8500
sampleDict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [112]:
# Get the key corresponding to the minimum value from the following dictionary
# sampleDict = {
#   'Physics': 82,
#   'Math': 65,
#   'history': 75
# }

# Expected Output
# Math

sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

min(sampleDict,key=lambda k:sampleDict[k])

'Math'

In [116]:
# Rename key city to location in the following dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
# }

# Expected Output
# {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "location": "New york"
# }

sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sampleDict['location'] = sampleDict.pop('city')
sampleDict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [118]:
# Check if a value 200 exists in a dictionary
# sampleDict = {'a': 100, 'b': 200, 'c': 300}

# Expected Output: True

sampleDict = {'a': 100, 'b': 200, 'c': 300}
value = int(input("Please enter the value to check"))
print("True") if value in sampleDict.values() else print("False")

Please enter the value to check200
True

In [120]:
# Delete set of keys from Python Dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
  
# }
# keysToRemove = ["name", "salary"]

# Expected Output:
# {'city': 'New york', 'age': 25}

sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york" 
}

keysToRemove = ['name','salary']

for i in keysToRemove:
    sampleDict.pop(i)
sampleDict

{'age': 25, 'city': 'New york'}